@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.loading {
  background: repeating-linear-gradient(60deg, #eee 0%, #eee 1%, #75c4fd 1%, #75c4fd 2%);
  animation: loading 20s ease-in-out infinite;
  background-size: 500% 500%;
}
@keyframes loading {
  0% {
    background-position: 0 50%;
 }
  50% {
    background-position: 100% 50%;
 }
  100% {
    background-position: 0% 50%;
 }
}
